/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.form-container,
.vms-form-container {
  max-width: 800px; /* Increased width */
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

textarea,
select {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
  min-height: 50px;
  resize: vertical;
}

button {
  border-radius: 20px;
}

/* CSS for the form toggle button */
#toggleButton {
  background-color: #28a745;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 5px;
}

#toggleButton:hover {
  background-color: #218838;
}

/* CSS for the form submit and clear buttons */
button {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Submit Button Styles */
#submitFormButton {
  background-color: #007bff;
  margin-bottom: 10px;
}

#submitFormButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Clear Button Styles */
#clearFormButton {
  background-color: #dc3545; /
}

#clearFormButton:hover {
  background-color: #c82333; 
  transform: scale(1.05); 
}

/* Styling for the results section */
#results {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#results h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

#results p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .form-container,
  .vms-form-container {
    padding: 15px;
  }

  textarea,
  select {
    font-size: 12px;
    padding: 8px;
  }

  button {
    font-size: 14px;
    padding: 8px 12px;
  }
}

